source https://www.nuget.org/api/v2
framework: net46

nuget FSharp.Core 4.0.0.1 redirects: force
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget FAKE
nuget Newtonsoft.Json  redirects: force
nuget FSharp.Compiler.Service 9.0.1


git https://github.com/Ionide/FsAutoComplete.git functions9 build:"build.cmd FunctionsRelease", OS: windows
git https://github.com/Ionide/FsAutoComplete.git functions9 build:"build.sh FunctionsRelease", OS: mono